@model CatalogoClientes.Dominio.Entidades.Cliente

<div class="panel panel-primary">
    
    <div class="panel-heading panel-head text-center">
        Nós amamos porque ele nos amou primeiro. (1 João 4:19)
    </div>

    <div class="panel-body">

        <a class="btn btn-success" style="margin: 5px 10px" id="CriarCliente" href="@Url.Action("Create")">
            <span class="glyphicon glyphicon-plus">
                Incluir cliente
            </span>
        </a>

        <table>
            <tr>
                <td rowspan="3">

                    @if (Model.Imagem != null)
                    {
                        <div class="pull-left" style="margin: 5px">
                            <img src="@Url.Action("ExibirImagem", "arquivo", new { id=Model.ClienteId}) " width="150" height="150"/>
                        </div>
                    }
                    else
                    {
                        <div class="pull-left" style="margin-right: 10px">
                            <img class="img-thumbnail" src="~/Imagens/semFoto.png" width="150" height="150" alt="Sem foto" />
                        </div>
                    }

                </td>
                <td>
                    <a href="#" class="btn btn-primary btn-lg">
                        <strong>@Model.Nome</strong>
                    </a>
                </td>
            </tr>

            <tr>
                <td>
                    @Model.Email <br />
                    @Model.Endereco
                </td>
            </tr>

            <tr>
                <td>
                    <div class="btn-group">

                        @Html.ActionLink("Editar", "Edit", new { id = Model.ClienteId }, new { @class = "btn btn-success" })

                        @Html.ActionLink("Detalhes", "Details", new { id = Model.ClienteId }, new { @class = "btn btn-warning" })

                        @Html.ActionLink("Deletar", "Delete", new { id = Model.ClienteId }, new { @class = "btn btn-danger" })
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
